body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
}
.flexeble_area{
    display: flex;
    margin-bottom: 100px;
}

.heaf_width{
width: 50%;
margin-left: 7%;
}

.button{
    text-decoration:none;
    background-image: linear-gradient(red, orange);
    padding: 10px 30px;
    border-radius: 25px;
    color: white;
}

.heaf_width img{
    width: 100%;
}
.color_text{
    color: chocolate;
}

.containar_bg{
    background-image:url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}

.image_setup{
   
    max-width: 79%;
    padding-left: 85px;
    
}

#contant_setup{
    padding: 120px;
}

.my_recipies p{
    width: 50%;
    text-align: center;
    margin: 0 auto; 
}

.my_recipies h2{
    text-align: center;
    font-size: 35px;
}

.racepe{
    
    box-shadow: 10px 10px 70px gray;
    border-radius: 20px;   
}

.racepe p{
    padding-left: 15px;
    width: 94%;
    padding-bottom: 20px;
}

.racepe h2{
    padding-left: 15px;
}

.racepe img{
    height: 200px;
    width: 300px;
    border-radius: 20px;
    padding-top: 14px;
    padding-left: 16px;
    
}

.width_one_thard{
    width: 28%;
    margin: 38px 20px;
}

.wraper{
    margin-left: 68px;
}

#social_area{
 text-align: center;
 border-radius: 15px;
 width: 90%;
 margin: 0 auto;
 box-shadow: 10px 10px 70px gray;
 margin-bottom: 80px;
 
}

.social{
    margin: 0 auto;
    padding: 10px 0px;
}

.social h2{
    
    font-size: 40px;
}

.boxx-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.heading_first{
    
    text-align: center;
}
.heading_first span{
    color: brown;
}

.boxx{
    height:20rem;
    width:30rem;
    margin:2rem;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.boxx img{
    height:100%;
    width:100%;
    object-fit: cover;
}

.boxx h3{
    position: absolute;
    top:100%; left:50%;
    transform: translate(-50%, -50%);
    color:#fff;
    text-align: center;
    font-size: 3rem;
    opacity: 0;
}

.boxx:hover h3{
    top:50%;
    opacity: 1;
    transition-delay: .2s;
}

.boxx::before{
    content: '';
    position: absolute;
    top:-100%; left:0;
    height:100%;
    width: 100%;
    background:rgba(0,0,0,.7);
    transition:.2s linear;
}

.boxx:hover::before{
    top:0;
}

.order h1{
text-align: center;
}
.order_color{
    color: orange;
}
.row form{
    
    background:#fff;
    padding:32px;
}

.box{
    padding:16px;
    margin:16px 0;
    font-size: 24px;
    background:#f0f0f0;
    width:97%;
}

.box::placeholder{
    text-transform: capitalize;
}

.address{
   
    height:240px;
}

.submit_btn{
    
    background-color: orange;
    padding: 10px 30px;
    border: none;
    color: white;
    cursor: pointer;
}

.footer{
    height: 200px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    
}
.footer h2{
    font-size: 25px;
    color:grey
}
.footer span{
    color:coral;
}